/* body */

body {
  --bg-color: #dde1e7;

  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
  text-align: left;
  min-height: 100vh;
  overflow: hidden;
  box-shadow: inset 0 0 15px 5px rgba(#255, #255, #255, 0.3);
}

/*start of nav styling*/

.nav {
  --nav-color: #333;

  grid-area: nav;
  list-style-type: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: large;
  font-weight: 500;
  display: grid;
  grid-template-columns: (15rem, 1fr);
  background-color: var(--nav-color);
  max-width: 15rem;
  height: 100vh;
  margin: 0;
  text-decoration: none;
  position: fixed;
  top: 0;
  width: 100%;
}

ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
  padding-left: 20px;
  margin-left: 0;
  margin-top: 60px;
}

.active p {
  margin-left: 40px;
  display: inline;
  user-select: none;
}

.nonactive p {
  user-select: none;
}

.active {
  background-color: var(--bg-color);
  color: black;
  border-radius: 100vh 0 0 100vh;
  height: 60px;
  position: relative;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  box-shadow: -12px 0 13px -6px black;
}

.active i {
  margin-right: 15px;
}

a {
  text-decoration: none;
}

a .active {
  color: var(--nav-color);
}

.nav li {
  margin-top: -20px;
}

.nonactive {
  color: white;
  background-color: var(--nav-color);
  height: 60px;
  border-radius: 100vh 0 0 100vh;
  transition: 0.3s ease;
}

.nonactive:hover {
  --hover-color: #444;

  background-color: var(--hover-color);
  cursor: pointer;
  transition: 0.3s ease;
}

ul li p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-line: none;
  text-align: center;
}

.nav li.active::before,
.nav li.active::after {
  --border-radius: 2rem;

  content: "";
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  right: 0;
  background-color: var(--nav-color);
}

.nav li.active::before {
  top: calc(var(--border-radius) * -1);
  border-radius: 0 0 100vw 0;
  box-shadow: 10px 10px 0px 10px var(--bg-color);
}

.nav li.active::after {
  bottom: calc(var(--border-radius) * -1);
  border-radius: 0 100vw 0 0;
  box-shadow: 10px -10px 0 10px var(--bg-color);
}

.nav_pic {
  background: url(/Images/pfp.jpg);
  height: 160px;
  margin: 40px auto -40px auto;
  width: 160px;
  border-radius: 50%;
  background-size: 160px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.nav_pic > * {
  user-select: none;
}

/*end of nav styling*/

/*start of main styling*/

.homecontainer {
  display: grid;
  grid-template-columns: 18% 5% 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 8% 23% 23% 23% 8%;
  gap: 40px 0px;
  grid-template-areas:
    "nav . . . . . . ."
    "nav . . . . . . ."
    "nav . colored-bg colored-bg . . . ."
    "nav . colored-bg colored-bg . . . ."
    "nav . . . . . . .";
}

.portfolio_title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-area: portfolio_title;
  margin-left: 60px;
  font-size: 1.3em;
  text-align: center;
  position: relative;
  margin-top: 70px;
}

::selection {
  background: #ccebff;
}

.portfolio_title::before {
  content: "Hi, I'm";
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: -25px;
  margin-left: 3px;
}

.portfolio_title::after {
  content: "Software Developer";
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  margin-top: -25px;
  margin-left: 3px;
}

/*end of home styling*/

/*blob styling*/
.bg > * {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  position: absolute;
  position: fixed;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.blob1,
.blob2,
.blob3,
.blob4,
.blob5,
.blob6 {
  transform: scale(1.2);
}

.blob1 {
  width: 15rem;
  height: 15rem;
  top: -5rem;
  right: -5rem;
  background-color: #009fff;
  z-index: 5;
  border-radius: 49% 51% 51% 49%;
  animation: rotate 9s linear infinite;
}

.blob2 {
  width: 25rem;
  height: 25rem;
  background-color: #32b2ff;
  top: -10rem;
  right: -10rem;
  z-index: 4;
  border-radius: 49% 51% 51% 49%;
  animation: rotate 11s linear infinite;
}

.blob3 {
  width: 35rem;
  height: 35rem;
  background-color: #66c5ff;
  top: -15rem;
  right: -15rem;
  z-index: 3;
  border-radius: 49% 51% 51% 49%;
  animation: rotate 13s linear infinite;
}

.blob4 {
  width: 45rem;
  height: 45rem;
  background-color: #99d8ff;
  top: -20rem;
  right: -20rem;
  z-index: 2;
  border-radius: 49% 51% 51% 49%;
  animation: rotate 15s linear infinite;
}

.blob5 {
  width: 55rem;
  height: 55rem;
  background-color: #ccebff;
  top: -25rem;
  right: -25rem;
  z-index: 1;
  border-radius: 49% 51% 51% 49%;
  animation: rotate 17s linear infinite;
}

.blob6 {
  width: 65rem;
  height: 65rem;
  background-color: #e5f5ff;
  top: -30rem;
  right: -30rem;
  z-index: 0;
  border-radius: 49% 51% 51% 49%;
  animation: rotate 19s linear infinite;
}

.colored-bg {
  width: 23rem;
  height: 23rem;
  background-color: #32b2ff;
  border-radius: 20% 80% 21% 79% / 81% 23% 77% 19%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  grid-area: colored-bg;
  margin: auto 0;
  margin-left: 35px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "portfolio_title"
    "socialmedia";
}

.downloadcv {
  grid-area: downloadcv;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 100vh;
  background-color: #333;
  color: white;
  font-size: 15px;
  word-wrap: none;
  width: 150px;
  user-select: none;
}

.socialmedia {
  display: grid;
  grid-template-columns: 2.8rem 2.8rem 0.2fr;
  grid-template-rows: 0.2fr 0.2fr;
  grid-template-areas:
    "fa-instgram fa-linkedin downloadcv"
    "cta . .";
  grid-area: socialmedia;
  gap: 20px;
  font-size: x-large;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  z-index: 3;
}

.socialmedia i {
  cursor: pointer;
  border-radius: 100vh;
  background-color: #333;
  padding: 10px 12px;
  color: white;
}

.socialmedia::after {
  content: "Email: rick-2007@outlook.com";
  position: absolute;
  font-family: "Roboto", sans-serif;
  top: -30px;
  left: 41%;
  transform: translateX(-50%);
  padding: 0 10px;
  font-size: 14px;
  border-radius: 100vh;
  z-index: 2;
  white-space: nowrap;
}

.fixedsquare {
  width: 23rem;
  height: 23rem;
  border: 3px solid;
  position: absolute;
  transform: rotate(-15deg);
  border-radius: 20% 80% 21% 79% / 81% 23% 77% 19%;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.fixedsquare::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 23rem;
  background-color: rgba(255, 255, 255, 0.2);
  transform: skew(-30deg);
  left: -140px;
}

.fixedsquare:hover:before {
  animation: silde 0.7s;
}

@keyframes silde {
  0% {
    left: -160px;
  }
  100% {
    left: 140%;
  }
}

#text {
  height: 210px;
  width: 210px;
  position: relative;
  animation: effect 15s linear infinite;
  color: white;
}

@keyframes effect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotatingSpan {
  position: absolute;
  transform-origin: 0 105px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  text-transform: capitalize;
  z-index: 100;
  left: 50%;
  display: flex;
  justify-content: center;
}

/*start of projects styling*/

#projects {
  overflow-y: scroll;
}

#projects .projectscontainer {
  display: grid;
  grid-template-columns: 18% 5% 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 8% 23% 23% 23% 8%;
  gap: 40px 0px;
  grid-template-areas:
    "nav . main main main main main main"
    "nav . main main main main main main"
    "nav . main main main main main main"
    "nav . main main main main main main"
    "nav . main main main main main main";
}

#projects .main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 100px;
  grid-template-areas:
    "project1 project2 project3"
    "project4 project5 project6";
  margin: 0 auto;
  margin-top: 50px;
}

#projects .project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8ecef;
  color: black;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: 0.3s ease;
  width: 250px;
  max-height: 19rem;
  min-height: 19rem;
  overflow: hidden;
  position: relative;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: 30px;
}

#projects .project::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 23rem;
  background-color: rgba(255, 255, 255, 0.13);
  transform: skew(-30deg);
  left: -170px;
}

#projects .project:hover {
  transform: rotate(1deg) scale(1.05);
}

#projects .project:hover:before {
  animation: silde 0.7s;
}

#projects .technowireimg,
#projects .coinchaseimg {
  width: 100%;
  margin-top: auto;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.2));
}

#projects .gamecraftimg,
#projects .yardimg {
  width: 40%;
  filter: drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.2));
  margin-top: auto;
}

.guestbookimg {
  width: 45%;
  border-radius: 10px;
}

.description {
  display: flex;
  align-items: center;
  background-color: #e8ecef;
  width: fit-content;
  padding: 20px;
  margin: auto;
  position: relative;
  z-index: 10;
  /* margin-top: 45vh; */
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  word-wrap: break-word;
  margin-top: 20px;
}

.profile_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -400px;
  font-size: 2.5em;
  text-align: center;
  position: relative;
  margin-top: 35vh;
  font-weight: 500;
}
